/* Global resets and base styles */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: #0D0D1A;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
